{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>
        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
        <a href="{% url 'index' %}">
            <button>Return to TANKS 4 TRADE</button>
        </a>
    </div>
    <div class="not-found-img">
        <img src="{% static 'images/diablo2-logo-lg.webp' %}" alt="404 not found gif">
    </div>



{% endblock %}