<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>E-commerce</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}">E-commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>

            {% if  request.user.is_authenticated %}
                <div class="form-inline my-2 my-lg-0">
                <!-- TODO: Have to fix this -->
                    <a href="{% url 'details user' pk=request.user.pk %}" class="btn btn-primary">Profile</a>
                    <a href="{% url 'logout user' %}" class="btn btn-warning">Log out:</a>
                    <a href="{% url 'new cart' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}">
                    </a>
                    <p id="cart-total">0</p>
                </div>
            {% else %}
                <div class="form-inline my-2 my-lg-0">
                    <a href="{% url 'register user' %}" class="btn btn-success">Sign up</a>
                    <a href="{% url 'login user' %}" class="btn btn-primary">Login</a>
                </div>

            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    <br>
    {% block content %}


    {% endblock content %}
</div>


</body>
</html>

