{% extends 'base/base.html' %}
{% block content %}

    <div class="box-element">
        {% if user.is_staff %}
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Store Page</a>
        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
        {% endif %}
        <br>
        <br>
        <table class="table">
            <tr><h5>User name: <strong>{{ user }}</strong></h5></tr>
            <tr><h5>Email: <strong>{{ user.email }}</strong></h5></tr>
            {% if user.first_name %}
                <tr><h5>First name: <strong>{{ user.first_name|capfirst }}</strong></h5></tr>
            {% endif %}
            {% if user.last_name %}
                <tr><h5>Last name: <strong>{{ user.last_name|capfirst }}</strong></h5></tr>
            {% endif %}
            <tr>
                <a style="float:left; margin:5px;" class="btn btn-success"
                   href="{% url 'edit user' pk=user.pk %}">Edit</a>
                <a style="float:left; margin:5px;" class="btn btn-danger"
                   href="{% url 'delete user' pk=user.pk %}">Delete</a>
            </tr>
        </table>
    </div>
    <hr>
    {% if user.is_staff %}
        <div class="box-element">
            <table>
                <th>
                    <a style="float:right; margin:5px;" class="btn btn-warning"
                       href="{% url 'store' %}">Edit product</a>
                    <a style="float:right; margin:5px;" class="btn btn-success"
                       href="{% url 'add product' %}">Add products</a>
                </th>
            </table>
        </div>
    {% endif %}
{% endblock %}