{% extends 'base/base.html' %}
{% block content %}
    <div id="shipping-info">
        <form method="post" action="{% url 'delete user' pk=object.pk %}">
            <hr>
            <center>Are you sure you want to delete your profile ?</center>
            <hr>
            <section class="changelist-form-container">
                {{ form.as_p }}
                {% csrf_token %}
                <input id="form-button" class="btn btn-outline-danger btn-block" type="submit" value="Delete">

            </section>
        </form>
    </div>
{% endblock %}