{% extends 'base/base.html' %}
{% block content %}
    <div id="shipping-info">
        <form enctype="multipart/form-data" method="post" action="{% url 'add product' %}">
            <hr>
            <h2>Adding products to store.</h2>
            <hr>
            <section class="changelist-form-container">
                {{ form.as_p }}
                {% csrf_token %}
                <input id="form-button" class="btn btn-success" type="submit" value="Add to store">
            </section>
        </form>
    </div>
{% endblock %}