{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- Have to try change the profile picture depends on the level of trading -->
                <img class="car-img" src="{% static 'images/Diablo-II-new-1-icon.png ' %}" alt='profile-image'/>
                <p class="description">Username: {{ object.username }}</p>
                {% if object.first_name %}
                    <p class="description">Name: {{ object.get_full_name }}</p>
                {% endif %}
                <p class="description">Email: {{ object.email }}</p>
                <p class="description">Region: {{ object.get_region }} </p>
                <!-- Try to make a level of the trading and put it here -->
                <div class="buttons">
                    <a href="{% url 'edit user' pk=object.pk %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete user' pk=object.pk %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}