{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="welcome-world">
        <div class="welcome-message">
            <h1><font color="white"></font></h1>
        </div>
    </section>
    <section id="catalogue">
        <h1>
            <big>Items in Marketplace</big>
        </h1>
        {% for item in object_list %}
            {% if item.user != request.user %}
            <div class="car-card">
                <div class="image-wrap">
                    {% if item.armor_piece == 'helm' %}
                        <img src="{% static 'images/healm.png' %}"
                             alt="Helm">
                    {% elif item.armor_piece == 'armor' %}
                        <img src="{% static 'images/ancient_armor.png' %}"
                             alt="Armor">
                    {% elif item.armor_piece == 'gloves' %}
                        <img src="{% static 'images/gloves.png' %}"
                             alt="Gloves">
                    {% elif item.armor_piece == 'boots' %}
                        <img src="{% static 'images/plate_boots.png' %}"
                             alt="Boots">
                    {% elif item.armor_piece == 'weapon' %}
                        <img src="{% static 'images/flail.png' %}"
                             alt="Weapon">
                    {% elif item.armor_piece == 'shield' %}
                        <img src="{% static 'images/aerin_shield.png' %}"
                             alt="Shield">
                    {% endif %}
                </div>
                <h1>Item slot: {{ item.get_item }}</h1>
                <h1>Item name: {{ item.item_name|capfirst }}</h1>
                <h1>Seller: {{ item.user }}</h1>
                <div class="details-buttons">
                    <!-- TODO: when press the trade button have to send you to trade chat with the owner of the item AND HAVE TO BE SIGN IN TO DO THAT  -->
                    <a href="#"
                       class="details-btn">Trade</a>
                </div>
            {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}